*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page-wrapper {
    display: block;
    height: 100%;
    margin: 8% auto;
}

#slackr-logo {
    background: url('slackr-logo.png') center no-repeat;
    height: 200px;
    width: auto;
    background-size: contain;
}

#sub-title {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: #45B893;
    font-style: italic;
}

#search-input {
    width: 400px;
    height: 70px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding-left: 20px;
}

#slackr-button {
    width: 400px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background: #45B893;
    border: transparent;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
    transition: .4s;
}

#slackr-button:disabled,
#slackr-button:disabled:hover {
    background: #EEE;
    border-radius: 0;
}

#slackr-button:hover {
    background: #71CADA;
    border-radius: 50px;
}

/*      Navigation Footer
------------------------------ */
#navigation-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.nav-arrow {
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    position: relative;
    cursor: pointer;
    background: #71CADA;
    text-align: center;
    padding: 0px 20px;
    bottom: 10px;
    color: #FFF;
}

#left-arrow  { right: 50px; }
#right-arrow { left: 50px; }

/*       MODAL CONTENT
------------------------------ */
#overlay {
    position: fixed;
    background: #000;
    opacity: .8;
    width: 100%;
    height: 100%;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
}

#modal {
    position: fixed;
    background: #FFF;
    width: 80%;
    height: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    display: none;
}

#image-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

#image-title {
    position: absolute;
    background: black;
    z-index: 99998;
    width: 100%;
    top: -19px;
    color: #FFF;
    height: 40px;
    opacity: .9;
    line-height: 2;
    text-align: center;
}

#image-container img {
    display: block;
    height: 100%;
    position: relative;
    width: auto;
    margin: 0 auto;
}

#close-modal {
    position: absolute;
    right: 0;
    top: -43px;
    font-size: 40px;
    font-family: sans-serif;
    color: #71CADA;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    z-index: 99999;
}

#modal.active   { display: block; }
#overlay.active { display: block; }
