#page-wrapper {
    display: block;
    height: 100%;
    margin: 8% auto;
}

#slackr-logo {
    background: url('slackr-logo.png') center no-repeat;
    height: 200px;
    width: auto;
    background-size: contain;
}

#search-input {
    width: 400px;
    height: 70px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding-left: 20px;
}

#slackr-button {
    width: 420px;
    height: 75px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background: #45B893;
    border: transparent;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

#overlay {
    position: fixed;
    background: #000;
    opacity: .9;
    width: 100%;
    height: 100%;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
}

#modal {
    position: fixed;
    background: red;
    width: 500px;
    height: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    display: none;
}

#modal.active   { display: block; }
#overlay.active { display: block; }
